@charset "UTF-8";
.active {
  border-bottom-color: #EBC400;
  border-radius: 2px;
  border-bottom-style: solid;
}

.navbar-brand {
  padding-left: 2%;
}

.navbar {
  background-color: #f5f3f1;
}

/* ==========================================

MEDIA QUERY 576px

============================================== */
@media screen and (max-width: 576px) {
  .active {
    border-bottom-color: none;
    border-radius: 0;
    border-bottom-style: none;
  }
}
.formulario__newsletter {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ebebeb;
  text-align: right;
}
.formulario__newsletter label {
  font-weight: bolder;
}

.footer__logo {
  width: 200px;
  padding-left: 20px;
}

.footer__imgs img {
  width: 25px;
  height: 25px;
}

.footer {
  background-color: #3C5053;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: 0px;
}
.footer ul {
  padding-left: 0px;
}
.footer li {
  list-style: none;
  text-align: center;
}
.footer p, .footer h3 {
  font-size: 2.3vh;
  color: #ffffff;
}
.footer p {
  padding-left: 20px;
  padding-right: 20px;
}
.footer div {
  padding-top: 5px;
}

.footer__links a {
  text-decoration: none;
  font-size: 2.3vh;
  color: #EBC400;
}
.footer__links a:hover {
  color: #75B9BE;
}

.footer__copyright {
  background-color: #252B2B;
}

#copyright {
  color: #576464;
  text-align: center;
  font-size: 2vh;
}

/* ==========================================

MEDIA QUERY 576px

============================================== */
@media screen and (max-width: 576px) {
  .formulario__newsletter {
    text-align: center;
  }

  .footer p {
    text-align: center;
  }

  .footer__colcenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer__contacto {
    text-align: center;
  }
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "PT Sans", sans-serif;
  color: #3F3E3B;
}

.imgOverlay {
  position: relative;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.botones {
  padding: 9px 20px;
  background-color: #EBC400;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  text-decoration: none;
  color: #252B2B;
}

/* ==========================================

INDEX

============================================== */
/* IMG DESTACADA INDEX-------- */
.portada__elementos {
  background-image: url(../images/imgportada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 390px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.portada__elementos li {
  font-family: "Zen Tokyo Zoo";
  color: #252B2B;
  font-size: 8vh;
  list-style: none;
}
.portada__elementos ul {
  padding-left: 2%;
}

.portada__textos {
  padding-top: 8%;
}

/* SECCIÓN BIENVENIDOS--------------  */
.bienvenidos {
  padding-top: 30px;
  background-color: #e2e2df;
  padding-bottom: 30px;
}

.bienvenidos__text {
  text-align: left;
}
.bienvenidos__text p {
  font-size: 2vh;
}
.bienvenidos__text h1 {
  font-size: 3vh;
  font-weight: bolder;
}

.bienvenidos__text {
  padding-bottom: 30px;
}

/* SECCIÓN QUÉ HACEMOS --------------*/
.hacemos__text {
  text-align: center;
  background-color: #E3AD19;
  padding: 20px;
}

.hacemos__carrusel {
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
  background-color: #E3AD19;
}

#hacemos {
  background-color: #E3AD19;
  padding-bottom: 30px;
}

.dark:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0.4;
}

.carousel-caption {
  top: 50%;
  opacity: 100;
  position: absolute;
  z-index: 1;
}

/* SECCIÓN PROYECTOS------------------------ */
.proyectos__index {
  background-color: #252B2B;
}

.proyectos__texto {
  background-color: #252B2B;
  color: #ffffff;
  text-align: center;
  height: 100%;
  padding-top: 20px;
  width: 100%;
}
.proyectos__texto p {
  margin-bottom: 0px;
  padding-bottom: 1rem;
}

.proyectos__imgs {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #252B2B;
}
.proyectos__imgs h3 {
  color: #ffffff;
  text-align: center;
  padding-top: 30%;
}
.proyectos__imgs a {
  text-decoration: none;
}

.proyecto1 {
  background-image: url("../images/projetos/proyecto1.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0px;
  transition: all 0.5s ease-in-out;
}

.proyecto2 {
  background-image: url("../images/projetos/proyecto2.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0px;
  transition: all 0.5s ease-in-out;
}

.proyecto3 {
  background-image: url("../images/projetos/proyecto3.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0px;
  transition: all 0.5s ease-in-out;
}

.proyecto4 {
  background-image: url("../images/projetos/proyecto4.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0px;
  transition: all 0.5s ease-in-out;
}

.proyecto5 {
  background-image: url("../images/projetos/proyecto5.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0px;
  transition: all 0.5s ease-in-out;
}

.proyecto6 {
  background-image: url("../images/projetos/proyecto6.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0px;
  transition: all 0.5s ease-in-out;
}

.proyectos__container {
  width: 300px;
  height: 200px;
}

.proyectos__container:hover .proyecto1,
.proyectos__container:hover .proyecto2,
.proyectos__container:hover .proyecto3,
.proyectos__container:hover .proyecto4,
.proyectos__container:hover .proyecto5,
.proyectos__container:hover .proyecto6 {
  transform: scale(1.2);
}

.proyectos__container {
  overflow: hidden;
}

/* SECCIÓN CLIENTES---------------*/
.clientes__index {
  background-color: #e2e2df;
}

.clientes__texto {
  background-color: #e2e2df;
  color: #252B2B;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.clientes__texto h2 {
  font-weight: bolder;
}

.clientes__card {
  background-color: #e2e2df;
  padding-bottom: 20px;
}
.clientes__card .card-body {
  background-color: #252B2B;
  color: #ffffff;
}
.clientes__card .card {
  background-color: #e2e2df;
  border: 0px;
}
.clientes__card .btn {
  background-color: #E3AD19;
  border: 0;
}

.clientes__grid button {
  margin-bottom: 20px;
  padding: 9px 12px;
  background-color: #252B2B;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  color: #ffffff;
  align-self: center;
}

/* ==========================================

MEDIA QUERY 1200px

============================================== */
@media screen and (min-width: 992px) {
  .linea1:after {
    content: "\a";
    white-space: pre;
  }
}
.portada__elementos {
  height: 590px;
}

/* ==========================================

MEDIA QUERY 768px

============================================== */
@media screen and (max-width: 768px) {
  .portada__elementos {
    height: 250px;
  }
  .portada__elementos li {
    font-size: 3vh;
  }

  .portada__textos {
    padding-top: 7%;
  }
}
/* ==========================================

MEDIA QUERY 576px

============================================== */
@media screen and (max-width: 576px) {
  .portada__elementos li {
    font-size: 4vh;
  }

  .portada__textos {
    padding-top: 20%;
  }

  .carousel-caption {
    top: 15%;
  }

  .hacemos__carrusel {
    width: 100%;
  }

  .proyectos__imgs {
    padding-bottom: 0px;
  }

  .proyecto2,
.proyecto3,
.proyecto5,
.proyecto6 {
    margin-top: 12px;
  }

  .proyecto6 {
    margin-bottom: 20px;
  }

  .clientes__card .card {
    margin-bottom: 10px;
  }

  .proyecto1 {
    transition: none;
  }

  .proyecto2 {
    transition: none;
  }

  .proyecto3 {
    transition: none;
  }

  .proyecto4 {
    transition: none;
  }

  .proyecto5 {
    transition: none;
  }

  .proyecto6 {
    transition: none;
  }

  .proyecto1:hover,
.proyecto2:hover,
.proyecto3:hover,
.proyecto4:hover,
.proyecto5:hover,
.proyecto6:hover {
    transform: none;
  }
}
/* ==========================================

PÁGINA CLIENTES

============================================== */
.portadaclientes__elementos {
  background-image: url("../images/ambiente_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 390px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.portadaclientes__elementos h1 {
  font-family: "Zen Tokyo Zoo";
  color: #ffffff;
  font-size: 8vh;
  list-style: none;
  text-align: center;
  padding-top: 200px;
}

.clientes__boxamarillo,
.clientes__boxverde {
  border: 10px;
}
.clientes__boxamarillo p,
.clientes__boxverde p {
  font-size: 3.5vh;
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: justify;
}
.clientes__boxamarillo h4,
.clientes__boxverde h4 {
  padding-left: 3%;
  padding-right: 3%;
  font-weight: bolder;
  font-size: 2.5vh;
}

.clientes__boxamarillo {
  background-color: #EBC400;
}

.clientes__boxverde {
  background-color: #587B7F;
  color: #e2e2df;
}

.clientes__depoimentos {
  margin-top: 10px;
}
.clientes__depoimentos div, .clientes__depoimentos img {
  border-radius: 2%;
}

.clientes__ultimodepoimento {
  margin-bottom: 30px;
}

/* ==========================================

PÁGINA CONTACTO

============================================== */
.form-check-input:checked {
  background-color: #E3AD19;
  border-color: #E3AD19;
}

.contacto__info {
  height: auto;
}
.contacto__info p {
  font-weight: bolder;
}

.contacto__form, .contacto__img {
  background-color: #ffffff;
}

.contacto__form {
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
}

#contacto__boton {
  margin-top: 30px;
}

.contacto__img {
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contacto__main {
  background-color: #E3AD19;
  padding-top: 8%;
  padding-bottom: 8%;
}

.contacto__cajamsj {
  padding-left: 10px;
}

#inputEmail3 {
  margin-top: 5px;
}

/* ==========================================

MEDIA QUERY 576px

============================================== */
@media screen and (max-width: 576px) {
  .contacto__form {
    border-top-left-radius: 0;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contacto__img {
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-bottom: 10px;
  }

  #exampleFormControlTextarea1 {
    width: 95%;
  }

  .pagservicios__items h2 {
    padding-top: 5%;
  }

  .clientes__boxamarillo,
.clientes__boxverde {
    margin-top: 7px;
    margin-bottom: 10px;
  }
  .clientes__boxamarillo p,
.clientes__boxverde p {
    font-size: 2.5vh;
  }
  .clientes__boxamarillo h4,
.clientes__boxverde h4 {
    font-size: 2.5vh;
  }
}
/* ==========================================

PÁGINA NOSOTROS

============================================== */
.nosotros__portada {
  border-bottom: 50px;
  margin-top: 30px;
}

.nosotros__img img {
  width: 100%;
}

.nosotros__text {
  padding-top: 5%;
}
.nosotros__text p {
  font-size: 2vh;
}
.nosotros__text ul {
  font-family: "Zen Tokyo Zoo";
  list-style: none;
  font-size: 13vh;
  text-align: right;
  padding-right: 50px;
}

.info {
  padding-top: 30px;
}

.info__titulo {
  color: #587B7F;
  font-weight: bolder;
  padding-left: 70px;
  font-size: 8vh;
}

.info__barra {
  background-color: #E3AD19;
  width: 5px;
  margin-left: 20px;
}

.info__subtitulo {
  color: #3C5053;
  font-size: 7vh;
  margin-left: 15px;
  padding-left: 10px;
}

.info__texto1, .info__texto2 {
  padding-left: 70px;
  padding-top: 20px;
  font-size: 3vh;
}

.info__texto2 {
  font-weight: bolder;
}

.quote {
  background-color: #E3AD19;
  height: 250px;
  margin-top: 100px;
}

.quote__frase {
  text-align: center;
}
.quote__frase span {
  font-size: 4vh;
  color: white;
}

.quote__author {
  text-align: center;
}
.quote__author span {
  font-size: 2vh;
  color: white;
}

/* ==========================================

MEDIA QUERY 768px

============================================== */
@media screen and (max-width: 768px) {
  .nosotros__text ul {
    font-family: "Zen Tokyo Zoo";
    list-style: none;
    font-size: 13vh;
    text-align: center;
    padding-right: 50px;
  }
}
/* ==========================================

MEDIA QUERY 576px

============================================== */
@media screen and (max-width: 576px) {
  .nosotros__text {
    padding-top: 5%;
  }
  .nosotros__text ul {
    font-family: "Zen Tokyo Zoo";
    list-style: none;
    font-size: 8vh;
    text-align: center;
    padding-right: 50px;
  }

  .info__subtitulo {
    font-size: 5vh;
  }

  .info__titulo,
.info__texto1,
.info__texto2 {
    padding-left: 20px;
  }
}
/* ==========================================

PÁGINA PROYECTOS

============================================== */
/* imagen header proyectos--------------- */
.portadaproyectos__elementos {
  background-image: url("../images/proyectos_img-destacada.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 390px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.portadaproyectos__elementos h1 {
  font-family: "Zen Tokyo Zoo";
  color: #ffffff;
  font-size: 7vh;
  list-style: none;
  text-align: center;
  padding-top: 200px;
}

.pagproyectos__textoinicio {
  text-align: center;
  margin-top: 30px;
}

.pagproyectos__proyectos div {
  padding-left: 0px;
  padding-right: 0px;
}

.pagproyectos__textos1, .pagproyectos__textos2 {
  background-color: #e2e2df;
}
.pagproyectos__textos1 h2, .pagproyectos__textos2 h2 {
  color: #5c5b5b;
  font-weight: bolder;
  font-size: 8vh;
  padding-top: 20%;
}
.pagproyectos__textos1 .botones, .pagproyectos__textos2 .botones {
  margin-left: 20px;
  background-color: #e2e2df;
  border-color: #EBC400;
  border-radius: 2px;
  border-style: solid;
  color: #252B2B;
}
.pagproyectos__textos1 .botones:hover, .pagproyectos__textos2 .botones:hover {
  background-color: #EBC400;
}
.pagproyectos__textos1 .pagproyectos__botones, .pagproyectos__textos2 .pagproyectos__botones {
  margin-top: 15px;
  text-align: right;
  margin-right: 20px;
}

.pagproyectos__textos2 {
  background-color: #E3AD19;
}
.pagproyectos__textos2 h2 {
  color: #3C5053;
}
.pagproyectos__textos2 .botones {
  margin-left: 20px;
  background-color: #E3AD19;
  border-color: #EBC400;
  border-radius: 2px;
  border-style: solid;
  color: #ffffff;
}
.pagproyectos__textos2 .pagproyectos__botones {
  text-align: left;
}

.pagproyectos__alignright {
  text-align: right;
  padding-right: 20px;
}

.pagproyectos__alignleft {
  text-align: left;
  padding-left: 20px;
}

.pagproyectos__textoinicio {
  text-align: center;
  margin-top: 30px;
}

.pagproyectos__imgs {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.pagproyectos__containerimg:hover .pagproyectos__imgs {
  transform: scale(1.1);
}

.pagproyectos__containerimg {
  overflow: hidden;
}

.modal-content {
  background-color: #e2e2df;
  margin-top: 40%;
}

.modal-header .botones {
  border-color: none;
  background-color: #e2e2df;
  margin-right: 5px;
  border-style: none;
  padding: 4px 9px;
}

.modal-footer .botones {
  padding: 5px 15px;
  background-color: #E3AD19;
  margin-right: 10px;
}

.modal-title,
.modal-body {
  margin-left: 20px;
}

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}

/* ==========================================

MEDIA QUERY 576px

============================================== */
@media screen and (max-width: 576px) {
  .pagproyectos__textos1 h2, .pagproyectos__textos2 h2 {
    color: #5c5b5b;
    font-weight: bolder;
    font-size: 3vh;
    padding-top: 5%;
  }

  .pagproyectos__alignright,
.pagproyectos__alignleft {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
  }

  .pagproyectos__textos1 .pagproyectos__botones,
.pagproyectos__textos2 .pagproyectos__botones {
    text-align: center;
    margin-bottom: 15px;
  }
  .pagproyectos__textos1 .botones,
.pagproyectos__textos2 .botones {
    background-color: #E3AD19;
    border-color: #EBC400;
    border-radius: 3px;
    border-style: solid;
    color: #ffffff;
    padding: 7px 10px;
  }
}
/* ==========================================

PÁGINA SERVICIOS

============================================== */
/* imagen header servicios--------------- */
.portadaservicios__elementos {
  background-image: url("../images/servicios/serviciosportada.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 390px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.portadaservicios__elementos h1 {
  font-family: "Zen Tokyo Zoo";
  color: #ffffff;
  font-size: 8vh;
  list-style: none;
  text-align: center;
  padding-top: 200px;
}

.pagservicios__box {
  box-shadow: -30px 30px 20px;
}

.pagservicios__items {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
.pagservicios__items p {
  font-size: 2.5vh;
}

/* ==========================================

MEDIA QUERY 768px

============================================== */
@media screen and (max-width: 768px) {
  .pagservicios__items h2 {
    padding-top: 5%;
  }
}/*# sourceMappingURL=main.css.map */