@import 'colores';
@import 'tipografias';

//ESTILOS

.imgOverlay {
    position: relative;
    height: 100%;
    background: rgba(0, 0, 0, 0.4)
}

.botones {
    padding: 9px 20px;
    background-color: $color-amarillo;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    text-decoration: none;
    color: $color-gris;
}


/* newsletter--------------------*/

.formulario__newsletter {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ebebeb;
    text-align: right;

    label {
        font-weight: bolder;
    }
}

/* nav bar--------------------*/

.active {
    border-bottom-color: $color-amarillo;
    border-radius: 2px;
    border-bottom-style: solid;
}


/* footer -----------------------------------*/


.footer__logo {
    width: 200px;
    padding-left: 20px;
}

.footer__imgs {
    img {
    width: 25px;
    height: 25px;
    }
}


.footer {
    background-color: $color-petroleo;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 0px;

    ul {
        padding-left: 0px;

    }

    li {
        list-style: none;
        text-align: center;
    }

    p, h3 {
        font-size: 2.3vh;
        color: $color-blanco;
    }

    p {
        padding-left: 20px;
        padding-right: 20px;
    }


    div {
        padding-top: 5px;
    }


}


.footer__links {

    a {
        text-decoration: none;
        font-size: 2.3vh;
        color: $color-amarillo
    }

    a:hover {
        color: $color-turquesa;
    }
}

.footer__copyright {
    background-color: $color-gris;

}

#copyright {
    color: #576464;
    text-align: center;
    font-size: 2vh;
}



/* ==========================================

INDEX

============================================== */

/* NAV BAR-------- */

.navbar-brand {
    padding-left: 2%;
}



/* IMG DESTACADA INDEX-------- */

 .portada__elementos {

    background-image: url(../images/imgportada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 390px;
    width: 100%;

    padding-left: 0px;
    padding-right: 0px;

        li {
        font-family: $font-portada;
        color: $color-gris;
        font-size: 8vh;
        list-style: none;
        }

        ul {
            padding-left: 2%;
        }

 }


.portada__textos {
    padding-top: 8%;
}


/* SECCIÓN BIENVENIDOS--------------  */

.bienvenidos {
    padding-top: 30px;
    background-color: $color-offwhite;
    padding-bottom: 30px;
}


.bienvenidos__text {
    text-align: left;
    p {
        font-size: 2vh;
    }

    h1 {
        font-size: 3vh;
        font-weight: bolder;
    }

}

.bienvenidos__text {

    padding-bottom: 30px;
}






/* SECCIÓN QUÉ HACEMOS --------------*/



.hacemos__text{
    text-align: center;
    background-color: $color-mostaza;
    padding: 20px;

}

.hacemos__carrusel {
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    background-color: $color-mostaza;
}

#hacemos {
    background-color: $color-mostaza;
    padding-bottom: 30px;

}


.dark:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#000000;
    opacity:0.4;
}

.carousel-caption {
    top: 50%;
    opacity: 100;
    position: absolute;
    z-index: 1;
}




/* SECCIÓN PROYECTOS------------------------ */


.proyectos__index {
    background-color: $color-gris;
}

.proyectos__texto {
    background-color: $color-gris;
    color: $color-blanco;
    text-align: center;
    height: 100%;
    padding-top: 20px;
    width: 100%;

    p {
        margin-bottom: 0px;
        padding-bottom: 1rem;
    }
}


.proyectos__imgs {

    padding-top: 10px;
    padding-bottom: 30px;
    background-color: $color-gris;

    h3 {
        color: $color-blanco;
        text-align: center;
        padding-top: 30%;
    }

    a {
        text-decoration: none;
    }
}


@each $proyecto in proyecto1, proyecto2, proyecto3, proyecto4, proyecto5, proyecto6 {
    .#{$proyecto} {
      background-image: url('../images/projetos/#{$proyecto}.jpg');
      background-size: cover;
      width: 100%;
      height: 100%;
      padding: 0px;
      transition:all .5s ease-in-out;
    }
}


.proyectos__container {
    width: 300px;
    height: 200px;
}

.proyectos__container:hover .proyecto1,
.proyectos__container:hover .proyecto2,
.proyectos__container:hover .proyecto3,
.proyectos__container:hover .proyecto4,
.proyectos__container:hover .proyecto5,
.proyectos__container:hover .proyecto6 {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.proyectos__container {
    overflow:hidden;
}



/* SECCIÓN CLIENTES---------------*/

.clientes__index {
    background-color: $color-offwhite;
}

.clientes__texto {
    background-color: $color-offwhite;
    color: $color-gris;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;

    h2 {
        font-weight: bolder;
    }
}

.clientes__card {
    background-color: $color-offwhite;
    padding-bottom: 20px;


    .card-body {
        background-color: $color-gris;
        color: $color-blanco;
    }


    .card {
        background-color: $color-offwhite;
        border: 0px;
    }

    .btn {
        background-color: $color-mostaza;
        border: 0;
    }
}





.clientes__grid {

    button {
        margin-bottom: 20px;
        padding: 9px 12px;
        background-color: $color-gris;
        border: none;
        border-radius: 1px;
        cursor: pointer;
        color: $color-blanco;
        align-self: center;
    }

}

/* ==========================================

PÁGINA NOSOTROS

============================================== */

$ancho: 50%;
$height: 500px;


.nosotros__portada {
    border-bottom: 50px;
}
.nosotros__img {
    img {
        width: $ancho*2;
    }
}

.nosotros__text {
    padding-top: 5%;

    p {
        font-size: 2vh;
    }

    ul {
        font-family: $font-portada;
        list-style: none;
        font-size: 13vh;
        text-align: right;
        padding-right: 50px;
    }
}

.info {
    padding-top: 30px;
}

.info__titulo {
    color: $color-turquesaoscuro;
    font-weight: bolder;
    padding-left: 70px;
    font-size: 8vh;

}

.info__barra {
    background-color: $color-mostaza;
    width: 5px;
    margin-left: 20px;
}

@mixin sizes($margin, $padding) {
    margin-left: $margin;
    padding-left: $padding;
 }

.info__subtitulo {
    color: $color-petroleo;
    font-size: 7vh;
    @include sizes(15px, 10px);
}

.info__texto1 {
    padding-left: 70px;
    padding-top: 20px;
    font-size: 3vh;
}

.info__texto2 {
    @extend .info__texto1;
    font-weight: bolder;
}

.quote {
    background-color: $color-mostaza;
    height: $height/2;
    margin-top: 100px;
}

.quote__frase {

    span {
       font-size: 4vh;
       color: white;
    }

    text-align: center;
}


.quote__author {

    text-align: center;

    span {
       font-size: 2vh;
       color: white;
    }
}




/* ==========================================

PÁGINA PROYECTOS

============================================== */



/* imagen header proyectos--------------- */



.portadaproyectos__elementos {

    background-image: url("../images/proyectos_img-destacada.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 390px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

        h1 {
        font-family: $font-portada;
        color: $color-blanco;
        font-size: 7vh;
        list-style: none;
        text-align: center;
        padding-top: 200px;
        }


 }

 .pagproyectos__textoinicio {
     text-align: center;
     margin-top: 30px;

 }

 .pagproyectos__proyectos {
     div {
        padding-left: 0px;
        padding-right: 0px;
     }
 }

 .pagproyectos__textos1 {

    background-color: $color-offwhite;

    h2 {
        color: #5c5b5b;
        font-weight: bolder;
        font-size: 8vh;
        padding-top: 20%;
    }

    .botones {
        margin-left: 20px;
        background-color: $color-offwhite;
        border-color: $color-amarillo;
        border-radius: 2px;
        border-style: solid;
        color: $color-gris;
    }

    .pagproyectos__botones {
        margin-top: 15px;
        text-align: right;
        margin-right: 20px;
    }

 }

 .pagproyectos__textos2 {
    @extend .pagproyectos__textos1;
     background-color: $color-mostaza;
     h2 {
         color: $color-petroleo;
     }

     .botones {
         margin-left: 20px;
         background-color: $color-mostaza;
         border-color: $color-amarillo;
         border-radius: 2px;
         border-style: solid;
         color: $color-blanco;
     }

     .pagproyectos__botones {
        text-align: left;
    }
 }

 .pagproyectos__alignright {
    text-align: right;
    padding-right: 20px;
 }

 .pagproyectos__alignleft {
    text-align: left;
    padding-left: 20px;
 }

 .pagproyectos__textoinicio {
    text-align: center;
    margin-top: 30px;

}


/* ==========================================

PÁGINA SERVICIOS

============================================== */



/* imagen header servicios--------------- */



.portadaservicios__elementos {

    background-image: url("../images/servicios/serviciosportada.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 390px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

        h1 {
        font-family: $font-portada;
        color: $color-blanco;
        font-size: 8vh;
        list-style: none;
        text-align: center;
        padding-top: 200px;
        }


 }

 .pagservicios__box {
     box-shadow: -30px 30px 20px ;

 }

 .pagservicios__items {
     margin-top: 5%;
     margin-bottom: 5%;
     margin-left: 10%;
     margin-right: 10%;

     p {
         font-size: 2.5vh;
     }

 }




/* ==========================================

PÁGINA CLIENTES

============================================== */

.portadaclientes__elementos {

    background-image: url("../images/ambiente_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 390px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

        h1 {
        font-family: $font-portada;
        color: $color-blanco;
        font-size: 8vh;
        list-style: none;
        text-align: center;
        padding-top: 200px;
        }


 }


 .clientes__boxamarillo,
 .clientes__boxverde {

     border: 10px;
     ;

     p {
         font-size: 3.5vh;
         padding-top: 5%;
         padding-left: 3%;
         padding-right: 3%;
         text-align: justify;

     }

     h4 {
        padding-left: 3%;
        padding-right: 3%;
        font-weight: bolder;
        font-size: 2.5vh;
     }
}

.clientes__boxamarillo {
    background-color: $color-amarillo;
}

.clientes__boxverde {
    background-color: $color-turquesaoscuro;
    color: $color-offwhite;

}

.clientes__depoimentos {
    margin-top: 10px;

    div, img {
        border-radius: 2%;
    }
}

.clientes__ultimodepoimento {
    margin-bottom: 30px;
}


/* ==========================================

PÁGINA CONTACTO

============================================== */

.form-check-input:checked {
    background-color:$color-mostaza;
    border-color: $color-mostaza;

}

.contacto__info {

    height: auto;
    
    // height: 90vh;

    p {
        font-weight: bolder;
    }
}

.contacto__form, .contacto__img {
    background-color:$color-blanco;
}

.contacto__form {
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 50px;

}

#contacto__boton {
    margin-top: 30px;
}

.contacto__img {
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contacto__main {
    background-color: $color-mostaza;
    padding-top: 8%;
    padding-bottom: 8%;

}

.contacto__cajamsj {
    padding-left:10px;
}

#inputEmail3 {
    margin-top: 5px;
}





/* ==========================================

MEDIA QUERY 1200px

============================================== */


@media screen and (min-width: 992px) {


    .linea1:after {
        content: '\A';
        white-space: pre;
      }


}


.portada__elementos {
    height: 590px;
}




/* ==========================================

MEDIA QUERY 768px

============================================== */


@media screen and (max-width: 768px) {


    // ----portada----//

    .portada__elementos {
        height: 250px;
        li {
        font-size: 6vh;
        }
    }

    .portada__textos {
        padding-top: 7%;

    }



    // ----pagina nosotros----//


    .nosotros__text {

        ul {
            font-family: $font-portada;
            list-style: none;
            font-size: 13vh;
            text-align: center;
            padding-right: 50px;
        }
    }


    // ----pagina servicios----//

    .pagservicios__items {
       
        h2 {
            padding-top: 5%;
        }
   
    }


}




/* ==========================================

MEDIA QUERY 576px

============================================== */


@media screen and (max-width: 576px) {

    //---navbar---//

    .active {
        border-bottom-color: none;
        border-radius: 0;
        border-bottom-style: none;
    }


    //---newsletter---//

    .formulario__newsletter {
        text-align: center;
    }

    // ----portada----//

    .portada__elementos {

        li {
        font-size: 4vh;
        }
    }

    .portada__textos {
        padding-top: 20%;

    }

    // ----carrusel index----//

    .carousel-caption {
        top: 15%;
    }

        
    .hacemos__carrusel {
        width: 100%;
    
    }

    // ----seccion proyectos index----//

    .proyectos__imgs {
        padding-bottom: 0px;


    }

    .proyecto2,
    .proyecto3,
    .proyecto5,
    .proyecto6 {
        margin-top: 12px;
    }

    .proyecto6 {
        margin-bottom: 20px;
    }

    .clientes__card {
        .card {
            margin-bottom: 10px;
        }
    }


    @each $proyecto in proyecto1, proyecto2, proyecto3, proyecto4, proyecto5, proyecto6 {
        .#{$proyecto} {
          transition: none;
        }
    } 

    
    .proyecto1:hover,
    .proyecto2:hover,
    .proyecto3:hover,
    .proyecto4:hover,
    .proyecto5:hover,
    .proyecto6:hover {
        transform: none;
    }


    // ----pagina proyectos----//

    .pagproyectos__textos1 {


        h2 {
            color: #5c5b5b;
            font-weight: bolder;
            font-size: 3vh;
            padding-top: 5%;
        }

    }

    .pagproyectos__alignright,
    .pagproyectos__alignleft {
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
     }

     .pagproyectos__textos1,
     .pagproyectos__textos2 {

        .pagproyectos__botones {
            text-align:center;
            margin-bottom: 15px;
        }


        .botones {
            background-color: $color-mostaza;
            border-color: $color-amarillo;
            border-radius: 3px;
            border-style: solid;
            color: $color-blanco;
            padding: 7px 10px;

        }


    }

    // ----pagina nosotros----//


    .nosotros__text {
        padding-top: 5%;

        ul {
            font-family: $font-portada;
            list-style: none;
            font-size: 8vh;
            text-align: center;
            padding-right: 50px;
        }
    }


    .info__subtitulo {
        font-size: 5vh;
    }

    .info__titulo, 
    .info__texto1,
    .info__texto2  {
       padding-left: 20px;
    }

    // ----footer----//

    .footer {
        p {
            text-align: center;
        }
    }

    .footer__colcenter {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer__contacto {
        text-align: center;
    }

    // ----pagina contacto----//

    .contacto__form {
        border-top-left-radius: 0;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
        padding-left: 10px;
        padding-right: 10px;    
    }
    

    
    .contacto__img {
        border-top-right-radius: 5%;
        border-top-left-radius: 5%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        padding-bottom: 10px;
    }

    #exampleFormControlTextarea1 {
        width: 95%;
    }

    // ----pagina servicios----//

    .pagservicios__items {
       
        h2 {
            padding-top: 5%;
        }
   
    }

    // ----pagina clientes----//

    

.clientes__boxamarillo,
.clientes__boxverde {

    margin-top: 7px;
    margin-bottom: 10px;


    p {
        font-size: 2.5vh;
       
    }

    h4 {      
       font-size: 2.5vh;
    }
}


}






