

/* ==========================================

PÁGINA SERVICIOS

============================================== */



/* imagen header servicios--------------- */



.portadaservicios__elementos {

    background-image: url("../images/servicios/serviciosportada.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 390px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

        h1 {
        font-family: $font-portada;
        color: $color-blanco;
        font-size: 8vh;
        list-style: none;
        text-align: center;
        padding-top: 200px;
        }

 }

 .pagservicios__box {
     box-shadow: -30px 30px 20px ;

 }

 .pagservicios__items {
     margin-top: 5%;
     margin-bottom: 5%;
     margin-left: 10%;
     margin-right: 10%;

     p {
         font-size: 2.5vh;
     }

 }

 /* ==========================================

MEDIA QUERY 768px

============================================== */


@media screen and (max-width: 768px) {

    // ----pagina servicios----//

    .pagservicios__items {
       
        h2 {
            padding-top: 5%;
        }
   
    }

}